<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="Imburse" value="https://pkgs.dev.azure.com/ImbursePayments/_packaging/ImbursePayments/nuget/v3/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="Imburse">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
</configuration>